# Configuración general
NODE_ENV=development
NODE_ID=1

# Puertos para los 3 nodos
NODE_1_PORT=3001
NODE_2_PORT=3002
NODE_3_PORT=3003

# URLs base de los nodos
NODE_1_URL=http://localhost:3001
NODE_2_URL=http://localhost:3002
NODE_3_URL=http://localhost:3003

# ========== CREDENCIALES DE BASES DE DATOS ==========

# ---- SQL SERVER (Transaccional, Consistencia Estricta CP) ----
# IP o Hostname del servidor SQL Server
SQL_SERVER=localhost
# Nombre de la Base de Datos
SQL_DATABASE=AerolineasDB
# Usuario de SQL Server (SA o uno configurado)
SQL_USER=sa
# Puedes configurar contraseñas distintas según el nodo para replicar tu Espejo
SQL_PASSWORD_NODE1=SuperSecretSQL1!
SQL_PASSWORD_NODE2=SuperSecretSQL2!
# Puertos externos configurados en tu docker-compose
SQL_PORT_NODE1=1433
SQL_PORT_NODE2=1434

# ---- MONGODB (Listados, Histórico, Archivo) ----
# Cadena de conexión URI completa a tu clúster de Mongo o MongoDB local
# Reemplaza 'user:password' por tus credenciales de MongoDB reales
MONGO_URI=mongodb://user:password@localhost:27017/AerolineasMongoDB?authSource=admin
MONGO_DB_NAME=AerolineasMongoDB

# Configuración de log
LOG_LEVEL=info
