# Configuración general
NODE_ENV=development
NODE_ID=1

# Puertos para los 3 nodos
NODE_1_PORT=3001
NODE_2_PORT=3002
NODE_3_PORT=3003

# URLs base de los nodos
NODE_1_URL=http://localhost:3001
NODE_2_URL=http://localhost:3002
NODE_3_URL=http://localhost:3003

# Configuración de log
LOG_LEVEL=info
